@charset "UTF-8";

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: black;
    color: white;
    min-width: 320px;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent , rgba(0, 0, 0, 1)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 95px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.text1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    margin-top: 85px;
}

.text2{
    margin-top: 10px;
    text-align: center;
    font-size:  0.9em;
    
}

#t1{
    font-size: 1.4em;
    font-weight: 400;
}

#t2{
    text-align: center;
    font-size: 1.22em;
    font-weight: 400;
}

#input{
    display: block;
    border: 0px;
    padding-left: 10px;
    box-shadow: none;
    box-sizing: border-box; 
    width: 90vw;
    height: 6.7vh;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 2px;
    color: black;
    background-color: white;
    line-height: normal;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */           
}

#input:focus{
    outline-style: inset;
    outline-color: rgb(0, 106, 255);
}

.feature{
    background-color: black;
    background-size: contain;
    color: white;
    width: 80vw;
    height: 100px;
}

#img1{
    width: 90vw;
    padding-left: 20px;
}





